/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        CtrlAltDel: CtrlAltDel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp LALT &kp DEL>;
            label = "CTRLALTDEL";
        };

        win_screenshot: win_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LGUI &kp LSHFT &kp S>;
            label = "WIN_SCREENSHOT";
        };
    };

    behaviors {
        HRL: HRL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <36 37 38 39 6 20 19 31 32 30 18 40 41 7 8 9 21 33 34 35 23 22 10 11>;
        };

        HRR: HRR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <36 37 38 39 41 39 41 40 0 1 2 12 13 14 24 25 26 16 17 3 4 5 15 16 17 27 28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB   &kp Q        &kp W        &kp F         &kp P         &kp B        &kp J        &kp L         &kp U         &kp Y        &kp SEMI     &kp BSPC
&kp BSPC  &HRL LGUI A  &HRL LALT R  &HRL LCTRL S  &HRL LSHFT T  &kp G        &kp K        &HRR RSHFT N  &HRR RCTRL E  &HRR RALT I  &HRR RGUI O  &kp SQT
&kp PIPE  &kp Z        &kp X        &kp C         &kp D         &kp V        &kp M        &kp H         &kp COMMA     &kp DOT      &kp FSLH     &kp ESC
                                    &kp LGUI      &mo 3         &kp SPACE    &lt 4 ENTER  &mo 3         &mo 5
            >;
        };

        qwerty {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 3  &kp SPACE    &kp RET  &mo 0  &kp RALT
            >;
        };

        mtgap {
            display-name = "MTGAP";
            bindings = <
&kp TAB   &kp Y        &kp P        &kp O         &kp U         &kp J           &kp K    &kp D         &kp L         &kp C        &kp W        &kp BSPC
&kp BSPC  &HRL LGUI I  &HRL LALT N  &HRL LCTRL E  &HRL LSHFT A  &kp COMMA       &kp M    &HRR RSHFT H  &HRR RCTRL T  &HRR RALT S  &HRR RGUI R  &kp SQT
&kp PIPE  &kp Q        &kp Z        &kp SLASH     &kp DOT       &kp LS(SEMI)    &kp B    &kp F         &kp G         &kp V        &kp X        &kp ESC
                                    &kp LGUI      &mo 3         &kp SPACE       &kp RET  &mo 0         &kp RALT
            >;
        };

        numeric {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NUM";
            bindings = <
&kp KP_DIVIDE  &kp LS(KP_MULTIPLY)  &kp N7  &kp N8  &kp N9   &kp LPAR     &kp RPAR  &trans  &trans    &trans  &trans  &trans
&trans         &kp KP_MINUS         &kp N4  &kp N5  &kp N6   &kp LBKT     &kp RBKT  &trans  &trans    &trans  &trans  &trans
&kp DEL        &kp KP_PLUS          &kp N1  &kp N2  &kp N3   &kp LBRC     &kp RBRC  &trans  &trans    &trans  &trans  &trans
                                            &kp N0  &kp DOT  &kp SPACE    &kp RET   &trans  &kp RALT
            >;
        };

        symbols {
            display-name = "SYMBOLS";
            bindings = <
&trans     &trans          &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp LPAR     &kp RPAR  &trans  &trans    &trans  &trans  &trans
&trans     &kp PLUS        &kp DOLLAR     &kp PERCENT   &kp CARET             &kp LBKT     &kp RBKT  &trans  &trans    &trans  &trans  &trans
&kp TILDE  &kp UNDERSCORE  &kp EXCL       &kp AT        &kp HASH              &kp LBRC     &kp RBRC  &trans  &trans    &trans  &trans  &trans
                                          &kp N0        &kp DOT               &kp SPACE    &kp RET   &trans  &kp RALT
            >;
        };

        functions {
            display-name = "FUNC";
            bindings = <
&kp K_SCREENSAVER  &kp F12  &kp F7  &kp F8  &kp F9   &kp PRINTSCREEN    &trans   &trans  &trans  &trans  &trans  &trans
&win_screenshot    &kp F11  &kp F4  &kp F5  &kp F6   &kp SCROLLLOCK     &trans   &trans  &trans  &trans  &trans  &trans
&CtrlAltDel        &kp F10  &kp F1  &kp F2  &kp F3   &kp PAUSE_BREAK    &trans   &trans  &trans  &trans  &trans  &trans
                                    &kp N0  &kp DOT  &kp SPACE          &kp RET  &trans  &none
            >;
        };

        navigation {
            display-name = "NAV";
            bindings = <
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans       &kp K_REDO    &kp K_PASTE     &kp K_COPY      &kp K_CUT     &kp K_UNDO       &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans       &kp CAPSLOCK  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans       &trans        &trans          &trans          &trans        &trans           &trans
                         &trans  &trans  &kp SPACE    &kp RET       &trans          &none
            >;
        };
    };
};
