
/ {
    keymap {
        compatible = "zmk,keymap";

        adjust {
            // -----------------------------------------------------------------------------------------
            // |      |  {  |  &  |  *  |  (  |  }  |           |     |     |     |     |     |      |
            // |      |  +  |  $  |  %  |  ^  |  +  |           |     | SFT | CTR | ALT | GUI |      |
            // |      |  ~  |  !  |  @  |  #  |  |  |           |     |     |     |     |     |      |
            //                    |  (  |  )  |  _  |           |     |     |     |

            display-name = "ADJUST";
            bindings = <
&kp LC(LA(F2))  &none                 &kp F7  &kp F8    &kp F9     &kp F12    &kp C_PP        &kp C_PREV      &kp C_NEXT    &none            &none                 &kp PRINTSCREEN
&none           &none                 &kp F4  &kp F5    &kp F6     &kp F11    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &kp RC(RALT)          &kp RCTRL
&none           &kp LC(LS(LA(LGUI)))  &kp F1  &kp F2    &kp F3     &kp F10    &kp C_RW        &kp C_FF        &none         &none            &kp LC(LS(LA(LGUI)))  &kp RC(RSHFT)
                                              &kp LGUI  &mo LOWER  &none      &none           &mo RAISE       &kp RALT
            >;
        };
    };
};
