
/ {
    keymap {
        compatible = "zmk,keymap";

         symbols {
            display-name = "SYMBOLS";
            bindings = <
&none  &kp LBRC   &kp AMPERSAND  &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RBRC          &none  &none         &none         &none        &none           &kp BSPC
&none  &kp PLUS   &kp DOLLAR     &kp PERCENT           &kp CARET              &kp PLUS          &none  &HRR RSHFT J  &HRR RCTRL K  &HRR RALT L  &HRR RGUI SEMI  &kp RET
&none  &kp TILDE  &kp EXCL       &kp AT                &kp HASH               &kp PIPE          &none  &none         &none         &none        &none           &kp ESC
                                 &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &none  &none         &none
            >;
        };
    };
};
