#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "jso.h"

#include <dt-bindings/zmk/pointing.h>

/ {
  keymap {
    compatible = "zmk,keymap";

#include "layers/layer_COLEMAK.dtsi"
#include "layers/layer_QWERTY.dtsi"
#include "layers/layer_MTGAP.dtsi"
#include "layers/layer_OCTA8.dtsi"
#include "layers/layer_NUMERIC.dtsi"
#include "layers/layer_SYMBOLS.dtsi"
#include "layers/layer_FUNCTIONS.dtsi"
#include "layers/layer_NAVIGATION.dtsi"
#include "layers/layer_MOUSE.dtsi"
#include "layers/layer_MEDIA.dtsi"
#include "layers/layer_LOWER.dtsi"
#include "layers/layer_RAISE.dtsi"
#include "layers/layer_ADJUST.dtsi"

  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    adjust_condition {
      if-layers = <L_LOWER L_RAISE>;
      then-layer = <L_ADJUST>;
    };
  };
};

#include "jso_double_tap.dtsi"
#include "jso_mousekeys.dtsi"
#include "jso_combos.dtsi"
#include "jso_behaviors.dtsi"