/ {
    combos {
        compatible = "zmk,combos";

        base_r {
            bindings = <&tog_on BASE>;
            timeout-ms = <250>;
            require-prior-idle-ms = <30>;
            key-positions = <7>;
            layers = <NUM SYM FUNC>;
        };

        base_l {
            bindings = <&tog_on BASE>;
            key-positions = <4>;
            layers = <NAV MOUSE MEDIA>;
        };

        qwerty_r {
            bindings = <&tog_on QWERTY>;
            key-positions = <8>;
            layers = <NAV MOUSE MEDIA>;
        };

        querty_l {
            bindings = <&tog_on QWERTY>;
            key-positions = <3>;
            layers = <NAV MOUSE MEDIA>;
        };

        mtgap_l {
            bindings = <&tog_on MTGAP>;
            key-positions = <3>;
            layers = <NAV MOUSE MEDIA>;
        };

        mtgap_r {
            bindings = <&tog_on MTGAP>;
            key-positions = <9>;
            layers = <NAV MOUSE MEDIA>;
        };

        boot {
            bindings = <&bootloader>;
            key-positions = <11 39>;
        };

        lock_num {
            bindings = <&tog_on NUM>;
            key-positions = <31>;
            layers = <NUM>;
        };

        lock_sym {
            bindings = <&tog_on SYM>;
            key-positions = <31>;
            layers = <SYM>;
        };

        lock_func {
            bindings = <&tog_on FUNC>;
            key-positions = <31>;
            layers = <FUNC>;
        };

        lock_nav {
            bindings = <&tog_on NAV>;
            key-positions = <28>;
            layers = <NAV>;
        };

        lock_mouse {
            bindings = <&tog_on MOUSE>;
            key-positions = <28>;
            layers = <MOUSE>;
        };

        lock_media {
            bindings = <&tog_on MEDIA>;
            key-positions = <28>;
            layers = <MEDIA>;
        };
    };
}