#define JSO_COMBO(NAME, KEY_POS, BINDING) \
/ { \
    combos { \
        compatible = "zmk,combos"; \
        NAME { \
            timeout-ms = <50>; \
            key-positions = KEY_POS; \
            bindings = <BINDING>; \
        }; \
    }; \
};

JSO_COMBO(combo_esc, <0 1>, &kp ESC)
JSO_COMBO(combo_to_base, <6 7>, &to L_BASE)
JSO_COMBO(combo_to_extra, <6 8>, &kp L_EXTRA)
JSO_COMBO(combo_screen_lock, <10 11>, &screen_lock)
JSO_COMBO(combo_ctrl_alt_del, <24 25>, &kp LC(LA(DEL)))